/__pycache__/*
*.pyc
.env
.gitignore

.DS_Store

**/weights/*
./models/*
**/*.pt
**/*.pth
**/*.avi

/home/mohamed-gomaa/FallenDetection/assets/Object_Detection/CUACA/FineTune_YoloV8_(CUACA_Dataset)_with_COCO_weights/predict/*
/home/mohamed-gomaa/FallenDetection/assets/Object_Detection/CUACA/FineTune_YoloV8_(CUACA_Dataset)_with_COCO_weights/train/weights/*
/home/mohamed-gomaa/FallenDetection/assets/Object_Detection/CUACA/FineTune_YoloV9_(CUACA)_with_COCO_weights/train/weights/*
/home/mohamed-gomaa/FallenDetection/assets/Object_Detection/CUACA/FineTune_YoloV12_(URFD)_with_COCO_weights/FineTune_YoloV12_(URFD)_with_COCO_weights/train/weights/*
/home/mohamed-gomaa/FallenDetection/assets/Object_Detection/URFD/FineTune_YoloV8_(URFD_Dataset)_with_COCO_weights/FineTune_YoloV8_(URFD_Dataset)_with_COCO_weights/train/weights/*
/home/mohamed-gomaa/FallenDetection/assets/Object_Detection/URFD/FineTune_YoloV9_(URFD)_with_COCO_weights/FineTune_YoloV9_(URFD)_with_COCO_weights/train/weights/*
/home/mohamed-gomaa/FallenDetection/assets/Object_Detection/URFD/FineTune_YoloV11_(URFD)_with_COCO_weights/FineTune_YoloV11_(URFD)_with_COCO_weights/train/weights/*
/home/mohamed-gomaa/FallenDetection/assets/Object_Detection/URFD/FineTune_YoloV12_(URFD)_with_COCO_weights/FineTune_YoloV12_(URFD)_with_COCO_weights/train/weights/*


/videos/
/videos/*